# Luke's Personal Files
CodeSpace.md
Direction (Review regularly and modify accordingly).md
Roadmap (Review regularly and modify accordingly).md

# Luke's Personal Folders
/Projects/
/Configs/
/Environment/

# RESTRICTED
Learn/Cybersecurity/ME/
Learn/Cybersecurity/WE/
Learn/Cybersecurity/PC/
Learn/Cybersecurity/Cl/
Learn/Cybersecurity/H/
Learn/Cybersecurity/Mb/
Learn/Cybersecurity/N/
Learn/Cybersecurity/Wi/