# Luke's Personal Files
CodeSpace.md
Direction (Review regularly and modify accordingly).md
Roadmap (Review regularly and modify accordingly).md
Prompts

# Luke's Personal Folders
/Projects/
/Configs/
/Environment/
/Research
/Misc

# Confidential Files
/Learn/@CA

# Obsidian Files
/.trash
/.obsidian/