# Luke's Personal Files
CodeSpace.md
Direction (Review regularly and modify accordingly).md
Roadmap (Review regularly and modify accordingly).md

# Luke's Personal Folders
/Projects/
/Configs/
/Environment/

# Confidential Files
/Learn/@CA